@import url("reset.css");
@import url("fonts.css");

:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Poppins, sans-serif;
}

header {}

nav {
	display: flex;
	justify-content: space-between;
}

a {
	color: #0000ff;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
}

.header-info-bar {
	padding: 1rem 0;
	background-color: #eee;
	font-size: 12px;
}

.header-info-bar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.75rem 0;
}

.logo {
	font-weight: 600;
	color: #000;
	text-decoration: none;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: .25rem;
}

.nav-aside ul {
	display: flex;
	align-items: center;
	gap: .25rem;
}

.nav-aside img {
	padding: .5rem;
}

.nav-main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.discount-alert {
	background-color: #000;
	color: #fff;
	padding: 1.25rem 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
}

.left-wrap {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.shipping-alert p {
	display: flex;
	align-items: center;
	gap: .75rem;
	text-transform: uppercase;
	font-weight: 600;
}

.demo-settings p {
	font-size: 14px;
	font-weight: 500;
}

.right-wrap {
	display: flex;
	align-items: center;
	gap: 4rem;
}