@import url("reset.css");
@import url("fonts.css");

:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Poppins, sans-serif;
}

header {}

nav {
	display: flex;
	justify-content: space-between;
}

header nav a {
	color: #000;
	font-weight: 500;
}

header nav a:hover {
	color: orangered;
	text-decoration: none;
}

h2 {
	font-weight: 600;
	font-size: 3rem;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
}

.header-info-bar {
	padding: 1rem 0;
	background-color: #eee;
	font-size: 12px;
}

.header-info-bar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.75rem 0;
}

.logo {
	font-weight: 700;
	color: #000;
	text-decoration: none;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: .5rem;
}

.nav-aside ul {
	display: flex;
	align-items: center;
	gap: .25rem;
}

.nav-aside img {
	padding: .5rem;
}

.nav-main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.discount-alert {
	background-color: #000;
	color: #fff;
	padding: 1.25rem 0;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	background-image: url("../img/broken_noise.webp");
	background-size: 10%;
	background-position: center;
}

.discount-alert .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.discount-alert a {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
	text-decoration: none;
}

.discount-alert img:first-of-type {
	border: 1px solid orangered;
	width: 24px;
	height: 24px;
	padding: .25rem;
	border-radius: 50%;
}

.discount-alert span {
	color: orangered;
	font-weight: 700;
}

.left-wrap {
	display: flex;
	align-items: center;
	gap: 4.5rem;
}

.shipping-alert p {
	display: flex;
	align-items: center;
	gap: .75rem;
	text-transform: uppercase;
	font-weight: 600;
}

.demo-settings {
	font-size: 14px;
	font-weight: 600;
}

.demo-settings ul {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.header-info-bar a {
	text-decoration: none;
	color: black;
}

.usa-icon-fix {
	margin-right: .5rem;
	margin-bottom: -2px;
}

.chev-icon {
	margin-left: .5rem;
}

.li-div {
	background-color: #ccc;
	width: 1px;
	height: .75rem;
}

.right-wrap {
	display: flex;
	align-items: center;
	gap: 4rem;
}

.legal-links-wrap {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 14px;
	font-weight: 600;
}

.legal-links-wrap a {
	text-decoration: none;
}

.social-icons-wrap {
	display: flex;
	align-items: center;
}

.social-icons-wrap a {
	text-decoration: none;
	padding: .5rem;
}

.shop-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0;
}

.shop-categories .grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ccc;
	min-height: 500px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.shop-categories .grid-item h2 {
	color: white;
	text-shadow: 0px 0px 35px rgba(0, 0, 0, 1);
}

.shop-categories .grid-item {
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	position: relative;
}

.shop-categories .grid-item:nth-of-type(1) {
	background-image: url("../img/mens-category-cover.webp");
}

.shop-categories .grid-item:nth-of-type(2) {
	background-image: url("../img/womens-category-cover.webp");
}

.shop-categories .grid-item:nth-of-type(3) {
	background-image: url("../img/kids-category-cover.webp");
}

.btn-white {
	background-color: white;
	padding: 1.25rem 2rem;
	color: black;
	text-decoration: none;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2.5rem;
	width: fit-content;
	margin: 0 auto;
}

.shopping-perks-wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
}

.shopping-perks-wrap .grid-item {
	display: flex;
	flex-direction: row:;
	align-items: flex-start;
	gap: 1rem;
}

.shopping-perks-wrap p {
	font-size: 14px;
	color: #ccc;
	display: flex;
	flex-direction: column;
	gap: .75rem;
}

.shopping-perks-wrap span {
	text-transform: uppercase;
	font-weight: 600;
	color: black;
}